:root{
    font-size:16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    box-sizing: border-box;

    --text-primary: #b6b6b6;
    --text-secondary: #ececec;

    --bg-primary: #23232e;
    --bg-secondary: #141418;

    --icon-primary: #064789;
    --icon-secondary: #427AA1;

    --light-shades: #edf2f4;
    --light-accent: #064789;
    --main-brand-color: #427aa1;
    --dark-accent: #749c75;
    --dark-shades: #a69658;

    --transition-speed: 600ms;
}

*{
    /* color:white; */
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: .66rem;
}

body::-webkit-scrollbar-track{
    background-color: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background-color: #b6b6b6;
}
span{
    color: var(--dark-shades);
}

.navbar{
    width: 5rem;
    height: 100vh ;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}





.navbar-nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 100%;
}

/* .navbar-nav > li{
    text-align: center;
} */



.nav-item:nth-child(4)::before{
    /* margin-top: 2rem; */
    /* content: "hr"; */
    /* margin-bottom: 2rem; */
}



.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    /* color: var(--text-primary); */
    color: var(--dark-shades);
    text-decoration: none;
    filter: grayscale(80%) opacity(.7);
    transition: var(--transition-speed);
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
    color: var(--text-secondary );
}

.logo{
    font-weight: bold;
    /* text-transform: uppercase; */
    margin-top: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: .3ch;
    width: 100%;
}
.logo svg{
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}
.navbar:hover .logo svg{
    transform: rotate(-180deg);
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link > i {
    min-width: 2rem;
    margin: 0 1.8rem;
}

i {
    /* filter: grayscale(0%) opacity(1); */
    color: var(--dark-shades);
}


main{
    margin-left: 5rem;
}


h1{
    margin: 0;
}



.fa-primary{
    color: var(--light-accent)
}    
.fa-secondary{
    color: var(--light-shades);
}

.fa-primary, .fa-secondary{
    transition: var(--transition-speed);
}

@media only screen and (max-width:600px) {
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo, .nav-item:nth-child(7), .nav-item:nth-child(5), .nav-item:nth-child(6)  {
        display: none;
    }
    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }

    .nav-item:last-child{
        margin-left: auto;
    }

    main{
        margin: 0;
    }

    
}

@media only screen and (min-width:600px) {
    
    .navbar{
        width: 5rem;
        height: 100vh;
    }
    
    .navbar:hover{
        width: 16rem;
    }

    .navbar:hover .link-text{
        display: inline;
        transition: opacity var(--transition-speed);
    }

    .nav-item:nth-child(4){
        margin-top: 2rem;
        border-top: 1px solid var(--dark-shades);
        padding-top: 2rem;
        /* margin-bottom: 2rem; */
    }

    .nav-item:last-child{
        margin-top: auto;
    }

    main > p{
        width: 50ch;
    }
}

.card{
    display: block;
    background-color: #F1F2EE;
    border-radius: 6px;
    margin-top: 4rem;
    box-shadow: 0 16px 38px -12px rgb(94.51% 94.9% 93.33% / 56%),
                0 4px 25px 0px rgb(94.51% 94.9% 93.33% / 12%),
                0 8px 10px -5px rgb(94.51% 94.9% 93.33% / 20%);
}

.card > div > h3{
    text-align: left;
    /* padding-bottom: 1rem; */
    /* color: #232b26 */
}

.card > figure > img{
    border-radius: 6px;
    display: inline-block;
    width: 250px;
    height: auto;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%),
                0 4px 25px 0px rgb(0 0 0 / 12%),
                0 8px 10px -5px rgb(0 0 0 / 20%);
    margin-top: -28px;
    position: relative;
    z-index: 1;
}
        
.card > figure{
    text-align: center;
}

.card > footer{
    text-align: center;
}

.card > footer > a{
    display: block;
    border-radius: 0 0 6px 6px;
    background-color: #7e8290;
    color: #F1F2EE;
    height: 3rem;
    line-height: 3rem;
}
.card > footer > a:link{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.project-div{
    text-align: justify;
    font-size: 14px;
    /* padding: 1.5rem 0; */
    padding: 1.5rem 5%;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 2;
    color: #232b26;
}

.project-div > h3{
    padding-bottom: .2rem;
    color: #6c6664;
}    

}